.progress-main {
  height: 180px;
  width: 180px;
  margin: auto;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  transition: opacity 1s linear;
  &.fade-out {
    opacity: 0;
  }

  > div > svg {
    & {
      animation: rotating 2s linear infinite;
      transform-origin: 50% 50%;
    }
  }
  svg {
    height: 100%;
    display: block;
  }
  color: #B1E2FF
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
